
  .multiselect {
    width: 300px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .checkboxes {
    width: 100%;
    position: absolute;
    display: none;
    border: 1px #dadada solid;
    z-index: 1;
    background: white;
  }
  
  .checkboxes label {
    display: block;
    padding-left: 10px;
  }
  
  input[type=checkbox] {
    margin-right: 10px;
  }
  
  .checkboxes label:hover {
    background-color: #1e90ff;
  }