@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,200;1,400&display=swap');

body {
  font-family: 'Raleway', sans-serif !important;
}

p{
  font-weight: lighter;
  font-style: italic;
}

#navbar {
    margin-top: 0;
    padding-top: 0;
}

#formSpace {
  width: 1200px;
  height: 600px;
}

#visSpace {
  width: 1200px;
  height: 600px;
}

.btn-style {
  margin-right: 20px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 10% !important;
}

#logout {
  display: none;
}

.unselected-instructions {
  color: red;
}

#elementsTree {
  margin-bottom: 40px;
}

.typebtns {
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}