@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,200;1,400&display=swap');

body {
  font-family: 'Raleway', sans-serif !important;
}

p{
  font-weight: lighter;
  font-style: italic;
}

#navbar {
    margin-top: 0;
    padding-top: 0;
}

#formSpace {
  width: 800px;
  height: 1000px;
}
